.VideoPreview {
  display: block;
}

.VideoPreview:hover {
  text-decoration: none;
}

.VideoPreview__Image {
  border-radius: 3px;
  width: 20em;
}

.VideoPreview__Title {
  font-size: 1.25em;
  color: #222;
  font-weight: 1000;
  margin: 0em 0.25em;
}

.VideoPreview__User {
  margin: 0em 0.25em;
}
