.VideoPreview {
  display: block;
  border-radius: 2px;
  text-decoration: none;
}

.VideoPreview:hover {
  background-color: #fafafa;
  text-decoration: none;
}

.VideoPreview__Image {
  border-radius: 2px;
  width: 20em;
}

.VideoPreview__Title {
  color: #222;
  font-size: 1.25em;
  font-weight: 1000;
  margin: 0em 0.25em;
}

.VideoPreview__User {
  color: #444;
  margin: 0em 0.25em;
}

.VideoPreview__User:hover {
  color: #555;
  text-decoration: underline;
}

