.VideoPreviewsList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.VideoPreviewsList__Item {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
}

