.Button {
  color: #fff;
  cursor: pointer;
  display: block;
  background-color: #3b5998;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
}