.PageHeader {
  background-color: #212121;
  display: block;
  line-height: 1;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.255rem;
  position: relative;
}

.Brand {
  color: white;
  font-family: Exo;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
  text-weight: 1px black;
}
